footer.ft__Container
  .wrapper
    .ft__Contacts
      for contact in public.pages._data.contacts
        if contact.icon
          .ft__Icon
            a(href=contact.href target="_blank")
              img(src=contact.icon)
            
    .ft__About
      h3.ft__About__Title.paragraphSubtitle
        | West Wing Solutions
      p.ft__About__Paragraph.paragraph
        | West Wing Solutions is a highly specialized Web Development agency, focused on performance and usability.
    
