extends ../../pages/page.jade

block head
  title West Wing Solutions Blog
  meta(name="description" content="Learning material for professionals eager to explore the science behind building a successful online product.")

block css
  link(rel="stylesheet" href="../../assets/libs/prism/prism.css")
  link(rel="stylesheet" href="./article.css")
  
block header
  !=partial('../../_components/_pageHeader/_pageHeader.jade', {content: 'Blog'})

block sidenav
  !=partial('../../_components/_sideNav/_sideNav.jade', {content: pageName})

block vars
  - var pageName = "Blog"

block content
  header.hd__Container.small
    .wrapper
      .hd__Headline
        h1.hd__Headline__Strong
          | #{pageName}
        .hd__Headline__Lead
          | Learning material for professionals who are eager to explore the science behind building a successful online product
  
  .wrapper.article
    != yield
    
  .article__Comments
    .wrapper.article
      h3
        | Care to leave a comment? Drop down a line 
        a(href="https://twitter.com/intent/tweet?text=%40mendaomn%20%40westwingsolutions" target="_blank") on the Twitters
      
      
  script(src="../../assets/libs/prism/prism.js")
