extends ../../pages/page.jade

block head
  title Blog

block css
  link(rel="stylesheet" href="../../assets/libs/prism/prism.css")
  link(rel="stylesheet" href="./article.css")
  
block header
  !=partial('../../_components/_pageHeader/_pageHeader.jade', {content: 'Blog'})

block sidenav
  !=partial('../../_components/_sideNav/_sideNav.jade', {content: pageName})

block vars
  - var pageName = "Blog"

block content
  header.hd__Container.small
    .wrapper
      .hd__Headline
        h1.hd__Headline__Strong
          | #{pageName}
        .hd__Headline__Lead
          | Learning material for professionals who are eager to explore the science behind building a successful online product
  
  .wrapper.article
    != yield
  script(src="../../assets/libs/prism/prism.js")
