extends page.jade

block head
  title West Wing Solutions Perf Audit
  meta(name="description" content="La metà dei tuoi visitatori abbandona il tuo sito se non si carica entro 3 secondi. Sei pronto a fermare l'emorragia?.")

block css
  link(rel="stylesheet" href="./perf-audit.css")

//- block header
//-   !=partial('../_components/_pageHeader/_pageHeader.jade', {content: 'Perf audit'})
//-   
//- block sidenav
//-   !=partial('../_components/_sideNav/_sideNav.jade', {content: 'Perf audit'})

block content
  .lp__Container
    .wrapper
      .lp-header(itemscope itemtype="http://schema.org/Organization")
        a(href="/" itemprop="url")
          img(src="/assets/img/logo.svg" itemprop="logo" alt="West Wing Solutions logo")
        a.lp-company-name(href="/") West Wing Solutions

    header.lp-masthead.hd__Container
      .wrapper
        .hd__Headline
          h1.hd__Headline__Strong
            | Ottieni più clienti,<br>più facilmente
          .hd__Headline__Lead
            | La metà dei tuoi visitatori abbandona il tuo sito se non si carica entro 3 secondi. Sei pronto a fermare l'emorragia?
          a(href="#prenota-adesso") 
            button.button Prenota adesso!

    section.lp-contacts
      .wrapper
        .lp-contacts__descr
          .lp-contacts__title.paragraphSubtitle Una consulenza dal valore di 900€, 
            strong a soli 499€
          ol.paragraph
            li Ottieni <strong>un'analisi approfondita della velocità del tuo sito</strong> per conoscere esattamente in che situazione ti trovi 
            li Ottieni <strong>consigli e buone pratiche per tutto il tuo team</strong> per sapere come muoverti per avere un sito più veloce ed offrire un'esperienza d'uso stellare
            li Potenzia la tua presenza online e <strong>attrai più clienti, clienti migliori e clienti più fedeli al tuo brand</strong>
        .lp-contacts__form-container#prenota-adesso
          .lp-contacts__form-title Lascia nome e indirizzo email, ti contatterò il prima possibile
          script(type="text/javascript" src="//westwingsolutions.mautic.net/form/generate.js?id=2")
    section.lp-steps
      .wrapper
        .lp-steps__title Come funziona
        .lp-steps__row
          .lp-steps__cell
            img.lp-steps__cell-img(src="/assets/img/code.svg", alt="")
            .lp-steps__cell-text Mi date accesso al codice e <strong>dedico 2 giorni</strong> interamente al vostro progetto
          .lp-steps__cell
            img.lp-steps__cell-img(src="/assets/img/report.svg", alt="")
            .lp-steps__cell-text Vi fornisco un <strong>report</strong> e tutto il materiale di corredo
          .lp-steps__cell
            img.lp-steps__cell-img(src="/assets/img/phone.svg", alt="")
            .lp-steps__cell-text Fissiamo <strong>una chiamata Skype di 90 minuti</strong> in cui sarò a completa disposizione
            
    section.lp-nb
      .wrapper
        .lp-nb__title Definiamo assieme gli obiettivi
        .lp-nb__text <strong>Le valutazioni sono tagliate su misura sul tuo specifico progetto</strong>: ti farò delle domande prima di iniziare e capiremo assieme su quali obiettivi vuoi che mi concentri maggiormente. In questo campo esistono soluzioni preconfezionate che si possono applicare ad alcuni scenari, prima di utilizzarle, però, è importante per me riuscire a stabilire che siano sufficienti per <strong>apportare valore al tuo prodotto.</strong>
          
    section.lp-features
      .wrapper
        .lp-features__title Cosa aspettarsi dall'analisi
        .lp-features__descr
          ul
            li Elenco delle cosiddette <strong>quick wins</strong>: semplici aggiustamenti che possono fornire risultati diretti
            li Rivelazione di eventuali <strong>colli di bottiglia</strong>
            li Identificazione e valorizzazione di tutto il buon lavoro già svolto in modo che venga mantenuto
            li <strong>Miglioramento della performance</strong> sia load time (velocità di caricamento) che run time (fluidità di utilizzo)
            li Descrizione di <strong>nuove strategie o tecnologie</strong> che potrebbero aiutare ulteriormente se adottate
            li <strong>Consigli e buone pratiche</strong> da tenere a mente per tutto il team (designer, sviluppatori, ecc)
            li <strong>Raccomandazioni per tool e sistemi di automazione</strong> per tenere sotto controllo la performance del prodotto
            li Tutto il materiale che genero durante l'analisi vi viene consegnato (eventuali report generati dai vari strumenti di analisi, <strong>screencasts</strong>, <strong>esempi di codice</strong>, ecc..)
          | Lo scopo di tutto ciò è di <strong>lasciarvi nelle condizioni ideali per implementare tutti i miglioramenti necessari</strong> per avere un sito più veloce e offrire un'esperienza d'uso migliore.

    //- section.lp-you
    //-   .wrapper
    //-     .lp-you__title.paragraphSubtitle Lascia che ti legga la mente..
    //-     p.lp-you__text.paragraph Non sai di avere questo problema. Forse hai letto da qualche parte che la velocità di un sito è importante ma non conosci i numeri, non sai di cosa è realmente capace il web e quale sia l’aspettativa di un utente. Sei sveglio e ti relazioni bene ai concetti di numero di visite, percentuale di conversioni e importanza della qualità dell’esperienza d’uso.
    //-     p.lp-you__text.paragraph Non conosci la relazione diretta che esiste tra la velocità del sito e l’efficacia del sito, sia esso pubblicitario, commerciale o informativo.
    //-     p.lp-you__text.paragraph Sei interessato a:
    //-       ul.paragraph
    //-         li più vendite
    //-         li più visite
    //-         li più traffico
    //-         li più conversioni
    //-         li più clienti
    //-         li più soldi
    //-         li qualità del prodotto o servizio
    //-     p.lp-you__text.paragraph Cosa vuoi realmente?
    //-       ul.paragraph
    //-         li un business più sano
    //-         li uno stile di vita migliore
    //-         li essere soddisfatto della sua attività professionale
    //-         li avere giro di clienti per sentirsi realizzato
    //-         li trovare la soluzione cui altri non hanno pensato
    //-         li battere la concorrenza
    //-         li fare meno fatica lui personalmente
    //-     p.lp-you__text.paragraph Di cosa hai paura:
    //-       ul.paragraph
    //-         li truffe
    //-         li i risultati si vedranno dopo (spendere soldi in anticipo)
    //-         li non avere un ritorno sull’investimento
    //-         li non avere clienti
    //-         li non vendere i prodotti che ha comprato
    //-         li fare più fatica dei concorrenti
    //- 
    //- section.lp-me
    //-   .wrapper
    //-     .lp-me__title.paragraphSubtitle Cosa faccio per te
    //-     p.lp-me__text.paragraph Analizzo il tuo sito, misuro variabili rilevanti, guardo il codice e l’organizzazione del codice, cerco errori comuni e buone pratiche. Ti dico tutto quello che ho trovato, dandoti consigli e mostrandoti i prossimi passi per ottenere un sito più veloce. In questo modo tu ed il tuo team potrete lavorare nella giusta direzione, avendo delle linee guida per far sì che il lavoro futuro proceda nel migliore dei modi.
    //-     p.lp-me__text.paragraph Avere un sito più veloce significa due cose: si carica in fretta ed offre un’esperienza d’uso stellare. 
    //-     p.lp-me__text.paragraph Un sito che si carica in fretta, statisticamente porta più traffico, visitatori che ritornano, visite più lunghe, utenti più reattivi e coinvolti e, naturalmente, più conversioni.
    //-     p.lp-me__text.paragraph Un sito che offre un’esperienza d’uso rapida e reattiva comunica professionalità, cura per i dettagli, amore per la qualità del servizio, serietà e capacità.
    //-     p.lp-me__text.paragraph Questi due fattori combinati, portano inevitabilmente ad avere più clienti, clienti migliori, clienti fedeli ed evangelisti.

    section.lp-cta
      .wrapper
        .lp-cta__text.paragraphSubtitle Ottieni la tua analisi
        a.lp-cta__btn(href="#prenota-adesso") 
          button.button Prenota adesso!
        .lp-cta__onthefence Non sei ancora convinto?
        a.lp-cta__link(href="https://medium.com/west-wing-solutions") Esplora il materiale gratuito
