header.hd__Container
  .wrapper
    .hd__Logo
      a(href="/")
        img(src="../../assets/img/logo.png", alt="")
    nav.hd__Nav
      ul
        li 
          a(href="/") Home
        li 
          a(href="/pages/blog.html") Blog
        li 
          a(href="/pages/portfolio.html") Portfolio 
        li 
          a(href="/pages/blog.html") About me
          
